:root {
  --current-color: red;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div#player {
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 5vh;
  width: 100%;
  text-align: center;

  div#player-color {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--current-color);
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    transition-duration: 0.3s;
  }
}

div#connect-four-choice {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7.5vh;
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2vh;
  justify-content: space-around;
  align-content: space-around;

  div.choice {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    margin: 2vh;
    cursor: pointer;
    
    &:hover {
      background-color: var(--current-color);
      transition-duration: 0.3s;
    }

    span {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 7vh;
    }
  }
}

div#connect-four-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 30, 1);
  border-radius: 2vh;
  justify-content: space-around;
  align-content: space-around;
  
  div.box {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    margin: 2vh;
    background-color: white;
    transition-duration: 0.3s;
  }
}

div#win-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  font-size: 7vh;
  z-index: 5;
  color: #4722df;
  display: none;
  transition-duration: 0.3s;

  div#player-won {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div#play-again {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4722df;
    color: white;
    height: 10vh;
    aspect-ratio: 4/1;
    border-radius: 5vh;
    font-size: 4vh;
    line-height: 10vh;
    cursor: pointer;
  }
}